name: Pet API Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  checks: write

jobs:
  run-api-tests:
    name: API Tests Run
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run tests
        run: mvn test
        continue-on-error: true

      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: JUnit Test Results
          path: target/surefire-reports/*.xml
          reporter: java-junit

      - name: Install Allure
        if: always()
        run: |
          curl -sL https://github.com/allure-framework/allure2/releases/download/2.24.0/allure-2.24.0.tgz | tar xz
          echo "$PWD/allure-2.24.0/bin" >> $GITHUB_PATH

      - name: Generate single-file Allure report
        if: always()
        run: allure generate target/allure-results --single-file -o allure-report

      - name: Upload Allure report as artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: allure-report/index.html
